/* For Mobile or Smaller devices */
@media screen and (max-width: 425px) {
    nav {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .menu-items-container ul {
        flex-direction: column;
        padding: 0;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-text-container {
        margin: 0;
        width: 100%;

    }

    .banner-img-container {
        width: 100%;
        margin: 0;
    }

    .online-games-section-container {
        text-align: center;
    }

    .cards-container {
        flex-direction: column;
        text-align: center;
    }

    /* PlayGamesOnline */
    .play-game-online-section-container {
        flex-direction: column-reverse;
        /* align-self: auto; */
        text-align: center;
        padding: 10px;
    }

    .play-game-online-section-container .image-container {
        width: 100%;
    }

    #hero-in-action {
        /* position: relative; */
        padding-right: 64px;
        padding-bottom: 64px;
    }

    #hero-in-action img {
        object-fit: cover;
        width: 100%;
    }

    #baby-with-cat {
        bottom: 0;
        right: 0;
    }

    #baby-with-cat img {
        width: 200px;
        height: 200px;
    }

    .text-container {
        padding: 0;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .type-of-games-container {
        /* display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: repeat(2 1fr);
        width: 100%; */
        /* flex-wrap: nowrap; */
    }

}

/* For Tablet or Medium devices */
@media screen and (min-width:426px) and (max-width:768px) {
    nav {
        flex-direction: column;
        margin: 24px auto;
        padding: 8px;
        align-items: center;
    }

    .banner-container {
        flex-direction: column;
        border: 5px solid blue;
        height: 100%;
    }

    .banner-text-container {
        margin: 0;
        width: 100%;

    }

    .banner-img-container {
        width: 100%;
        margin: 0;
    }

    .online-games-section-container {
        border: 5px solid red;
        flex-direction: column;
    }

    .cards-container {
        display: grid;
        grid-template-columns: auto auto;
        text-align: center;
    }

    .play-game-online-section-container {
        /* flex-direction: column-reverse; */
        flex-direction: column;
        text-align: center;
        padding: 0px;
        border: 5px solid blue;
    }

    .play-game-online-section-container .text-container {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        border: 5px solid red;
    }

    #hero-in-action {
        /* position: relative; */
        padding-right: 64px;
        padding-bottom: 64px;
    }

    #hero-in-action img {
        object-fit: cover;
        width: 100%;
    }

    #baby-with-cat {
        bottom: 0;
        right: 0;
    }

    #baby-with-cat img {
        width: 200px;
        height: 200px;
    }
}