@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

/* Shared styles */
:root {
    --primary-color: #FF42A5;
    --secondary-color: #4EC5F7;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.gradient-text {
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
}

.button {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 48px;
    /* background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)); */
    color: white;
}

.bg-color-primary {
    background-color: var(--primary-color);
}

.bg-color-secondary {
    background-color: var(--secondary-color);
}

.small-text {
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
}

.caption-text {
    font-size: 20px;
    font-weight: 400;
    color: #534C64;
}

.title-text {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

/* Nav styles */
nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    /* max-width: 1000px; */
    /* margin: 39px 240px; */
    padding: 0px 10%;
    margin: 39px auto;
}

.logo-site-name-container {
    /* border: 1px solid green; */

    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-site-name-container img {
    width: 86px;
    height: 40px;
    /* flex-shrink: 0; */
}

.logo-site-name-container h1 {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    ;
}

.logo-site-name-container span {
    color: var(--primary-color);
}

.menu-items-container {
    /* border: 1px solid blue; */
    display: flex;

}

.menu-items-container ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 32px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}

.menu-follow-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.menu-items-container p {
    margin: 18px 24px;
}

.follow-us-on-icon {
    margin-right: 16px;
}

/* Banner styles */
.banner-container {
    display: flex;
    justify-content: space-between;
    height: 700px;
    /* padding: 100px; */
    margin: 0;
    /* max-width: 1440px; */
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 50%;
    background-image: url(../resources/images/Group\ 14.png);
    background-position: 100%;

    /* width: 901px;
    height: 700px;
    flex-shrink: 0; */
    /* height: 100%; */

    /* padding: 148px 200px; */
    /* border: 1px solid red; */
}

.banner-text-container h3 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.banner-text-container h2 {
    font-size: 95px;
    font-weight: 800;

    margin: 0;
    padding: 0;
}

.banner-img-container {
    width: 50%;
    /* border: 1px solid red; */
    /* margin: 19px 240px 0px 68px; */

}

.banner-img-container img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    background-repeat: no-repeat;
}

/* Online Games section's styles */

.online-games-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 0;
    margin: auto;
    padding: 0;
}

.cards-container {
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.card {
    /* margin: 24px; */
}

.card img {
    width: 342px;
    height: 400px;
}

/* play-game-online-section-container styles */
.play-game-online-section-container {
    display: flex;
    border: 1px solid crimson;
    width: 100%;
}

.play-game-online-section-container .image-container {
    border: 1px solid lime;
    width: 50%;


}

#hero-in-action {
    position: relative;
    /* bottom: 100px; */
    right: 0;
    z-index: 1;
    margin-bottom: 100px;
}

#baby-with-cat {
    position: absolute;
    right: -100px;
    bottom: -100px;
    z-index: 2;
}

.play-game-online-section-container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid aqua;
    padding-left: 248px;
    width: 50%;
    text-align: left;
}

/* TypeOfGamesSectionStyles */
.type-of-games-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 27px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

    padding: 120px 0px;
}

.game-item {
    display: flex;
    align-items: center;
    /* border: 1px solid #FF42A5; */
    background-color: white;
    border-radius: 48px;
    padding: 10px;
    gap: 16px;
}

.game-item:hover {
    border: 1px solid var(--primary-color);
    color: violet;
}

.game-item-img {
    width: 60px;
    height: 60px;
}

.game-item h6 {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

/* Footer */
footer {
    text-align: center;
}