@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

/* Shared styles */
:root {
    --primary-color: #FF42A5;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.gradient-text {
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
}

/* Nav styles */
nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    /* max-width: 1000px; */
    /* margin: 39px 240px; */
    padding: 0px 10%;
    margin: 39px auto;
}

.logo-site-name-container {
    /* border: 1px solid green; */

    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-site-name-container img {
    width: 86px;
    height: 40px;
    /* flex-shrink: 0; */
}

.logo-site-name-container h1 {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    ;
}

.logo-site-name-container span {
    color: var(--primary-color);
}

.menu-items-container {
    /* border: 1px solid blue; */
    display: flex;

}

.menu-items-container ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 32px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}

.menu-follow-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.menu-items-container p {
    margin: 18px 24px;
}

.follow-us-on-icon {
    margin-right: 16px;
}

/* Banner styles */
.banner-container {
    display: flex;
    height: 700px;
}

.banner-text-container {
    width: 50%;
    background-image: url(../resources/images/Group\ 14.png);
    background-position: 100%;
}

.banner-img-container {
    width: 50%;
}

.banner-img-container img {
    width: 100%;
    object-fit: cover;
}