* {
    box-sizing: border-box;
}

/* Nav styles */
nav {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    /* max-width: 1000px; */
    margin: 39px 240px;
}

.logo-site-name-container {
    border: 1px solid green;

    display: flex;
    gap: 20px;
}

.menu-items-container {
    border: 1px solid blue;

}

nav ul {
    display: flex;
    gap: 32px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}