@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF42A5;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Nav styles */
nav {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    /* max-width: 1000px; */
    margin: 39px 240px;
}

.logo-site-name-container {
    border: 1px solid green;

    display: flex;
    gap: 20px;
}

.logo-site-name-container h1 {
    font-size: 45px;
    font-weight: 700;
}

.logo-site-name-container span {
    color: var(--primary-color);
}

.menu-items-container {
    border: 1px solid blue;

}

nav ul {
    display: flex;
    gap: 32px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}